<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Available Dates</title>
</head>
<body>
<h1>Available Dates</h1>
<div th:if="${#lists.isEmpty(availableDates)}">
    <p>No hay fechas disponibles.</p>
</div>
<div th:if="${not #lists.isEmpty(availableDates)}">
    <ul>
        <li th:each="date : ${availableDates}">
            <span th:text="${date.userCreateDate.username}"></span> <!-- Muestra el nombre del usuario -->
            <img th:src="@{'/imgDates/' + ${date.userCreateDate.img}}" width="100" height="100" /> <!-- Muestra la imagen del usuario -->

            <form th:action="@{/joinDate}" method="post">

                <input type="hidden" name="dateId" th:value="${date.iddate}" />
                <button type="submit">Unirse</button>
            </form>
        </li>
    </ul>
</div>
</body>
</html>
